<div class="coverscreen fadeIn fadeIn-Delay-3s fadeIn-3"><img class="logo" width="400" src="images/mantra500.jpg"></div>

<div class="header">
  <div class="row">
    <div class="col-xs-4">
      <!-- <img class="header-logo" src="images/mantra_icon.png"> -->
      <img class="header-text" src="images/mantra_text.png">
    </div>
    <div class="col-xs-4">
      <!--  <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>-->
      <!-- <h3 class="text-muted">mantra music</h3> -->
      <ul class="icons">
        <li><a class="soundcloud social" href="http://www.soundcloud.com/mantramusicuk" target="_blank"></a>
        </li>
        <li><a class="facebook social" href="http://www.facebook.com/mantramusicuk" target="_blank"></a>
        </li>
         <li><a class="twitter social" href="http://www.twitter.com/mantramusicuk" target="_blank"></a>
        </li>
        <li><a class="youtube social" href="https://www.youtube.com/user/mantramusic2014" target="_blank"></a></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <a title="Contact Mantra Music" class="mail-link" href="mailto:admin@mantramusic.co.uk"><span class="glyphicon glyphicon-envelope"></span></a>
    </div>
  </div>
</div>
<br/>
<div class="row release">
  <div class="col-xs-4">
    <img class="mantraimg" src="images/mantra001.jpg">
  </div>
  <div class="col-xs-8">
    <p><strong>Mantra Music Present: MANTRA001</strong></p>
    <p>Quantum Soul & Katya Gabeli</p>
    <p>Emergence / Nemawashi </p>
    <ul class="venders">
      <li>Available now from the following retailers:</li>
      <li class="clear"><a href="http://www.redeyerecords.co.uk/vinyl/53851-mantra001-quantum-soul-and-katya-gabeli"><img class="redeye" src="images/redeye.png"></a></li>
      <li><a href="http://www.bm-soho.com/store/AutoKey/141557/quantum/soul/+/katya/gabeliemergence"><img class="bmsoho" src="images/bmsoho.png"></a></li>
      <li><a href="http://www.surus.co.uk/Mantra-Music/Emergence-and-Nemawashi-24901.aspx"><img class="surus" src="images/surus.jpg"></a></li>
      <li><a href="http://www.juno.co.uk/products/quantum-soul-katya-gabeli-emergence-nemawashi/540830-01/"><img class="juno" src="images/juno.jpg"></a></li>
    </ul>
  </div>
</div>

<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149229734&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150614091&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<br/>
<br/>
<br/>
<div class="footer">
<!--  <p><span class="glyphicon glyphicon-heart"></span> from DV/Mantra.</p> -->
<p class="ultra-small">Website created by <a href="http://www.consciouscreative.co.uk">Conscious Creative</a></p>
</div>