<div class="coverscreen fadeIn fadeIn-Delay-3s">
  <div class="logowrap">
    <img class="logo" src="images/mantralogo.png">
    <img class="logotext" src="images/mantratext.png">
  </div>
</div>
<div class="contents">
  <div class="header">
    <div class="row">

      <div class="col-xs-4">
        <img class="header-text" src="images/mantra_text.png">
      </div>

      <div class="col-xs-6">
        <ul class="icons">
          <li><a class="soundcloud social" href="http://www.soundcloud.com/mantramusicuk" target="_blank"></a>
          </li>
          <li><a class="facebook social" href="http://www.facebook.com/mantramusicuk" target="_blank"></a>
          </li>
           <li><a class="twitter social" href="http://www.twitter.com/mantramusicuk" target="_blank"></a>
          </li>
          <li><a class="youtube social" href="https://www.youtube.com/user/mantramusic2014" target="_blank"></a></li>
        </ul>
      </div>

      <div class="col-xs-2">
        <a title="Contact Mantra Music" class="mail-link" href="mailto:admin@mantramusic.co.uk"><span class="glyphicon glyphicon-envelope"></span></a>
      </div>
    </div>

  </div>

  <br/>

  <div class="row release">
    <div class="col-xs-4">
      <img class="mantraimg" src="images/mantra001.jpg">
    </div>
    <div class="col-xs-8">
      <p><strong>Mantra Music Present: MANTRA001</strong></p><br/>
      <p>Quantum Soul & Katya Gabeli:</p>
      <p>Emergence / Nemawashi</p><br/>
      <ul class="venders">
        <li>Available now from the following retailers:</li>
        <li class="clear">
          <a title="Buy from Red Eye Records" target="_blank" href="http://www.redeyerecords.co.uk/vinyl/53851-mantra001-quantum-soul-and-katya-gabeli"><img class="redeye" src="images/redeye.png"></a>
        </li>
        <li>
          <a title="Buy from BM Soho" target="_blank" href="http://www.bm-soho.com/store/AutoKey/141557/quantum/soul/+/katya/gabeliemergence"><img class="bmsoho" src="images/bmsoho.png"></a>
        </li>
        <li>
          <a title="Buy from Surus" target="_blank" href="http://www.unearthedsounds.co.uk/collections/dubstep-dub-reggae/products/quantum-soul-katya-gabeli-emergence-nemawashi"><img class="surus" src="images/unearthed.jpg"></a>
        </li>
        <li>
          <a title="Buy from Juno" target="_blank" href="http://www.juno.co.uk/products/quantum-soul-katya-gabeli-emergence-nemawashi/540830-01/"><img class="juno" src="images/juno.jpg"></a>
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <br/>
  <h4>Audio Previews:</h4>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3121190906/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://mantramusicuk.bandcamp.com/album/mantra001">MANTRA001 by Mantra Music</a></iframe>

  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3121190906/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=841253915/transparent=true/" seamless><a href="http://mantramusicuk.bandcamp.com/album/mantra001">MANTRA001 by Mantra Music</a></iframe>

  <br/>
  <br/>
  <br/>

  <div class="footer">
    <a target="_blank" href="http://www.deepervibrations.com"><img src="images/dv.png" class="dvimage"></a>
    <!--  <p><span class="glyphicon glyphicon-heart"></span> from DV/Mantra.</p> -->
    <p class="ultra-small">Website created by <a href="http://www.consciouscreative.co.uk">Conscious Creative</a></p>
  </div>
</div>